// _fonts.scss
/**
 * Font definitions.
 *
 * @since 2.0.0
 *
 * @see https://modernfontstacks.com/
 *   (using "Antique" or maybe "Old Style" for serif and "Neo-Grotesque" for sans)
 */

// Antique.
$antique:
	Superclarendon,
	'Bookman Old Style',
	'URW Bookman',
	'URW Bookman L',
	'Georgia Pro',
	Georgia,
	serif;

// Old Style.
$serif:
	'Iowan Old Style',
	'Palatino Linotype',
	'URW Palladio L',
	P052,
	serif;

// Neo-Grotesque.
$sans-serif:
	Inter,
	Roboto,
	'Helvetica Neue',
	'Arial Nova',
	'Nimbus Sans',
	Arial,
	sans-serif;