{% extends 'layouts/base.njk' %}
{% block aboveContent %}
	<div class="post-metadata">
	Written {{ page.date | mdY }}
	{# if page.updated -%} (updated {{ page.updated | mdY }}){%- endif #} 
	by
	{% if author.site %}<a href="{{author.site }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}.
	</div>
{% endblock %} 
