<html>
<head>
<title>{% block htmlTitle %}{{ title | safe }} | Patrick Johanneson{% endblock %}</title>
</head>

<body>
<h1>{{ title | safe }}</h1>
{{ content | safe }}
</body>

<footer>
</footer>

</html>